<h2>Мы производим ...</h2>
<div class="catalog">
  <h2 class="on-main"><%= @kombikorm.first.section %></h2>
  <ul>
    <% @kombikorm.each do |part| %>
        <% @counter = 0 %>
        <% part.types.each do |type| %>
            <% @counter += type.items.where("public = ?", true).count %>
        <% end %>
        <% if logged_in? == false %>
            <% if @counter > 0 %>
                <% if part.title != 'Линии производства комбикорма' %>
                    <li><h3><%= link_to "#{part.title} для комбикорма", part_path(part.id) %></h3></li>
                <% else %>
                    <li><h3><%= link_to "#{part.title}", part_path(part.id) %></h3></li>
                <% end %>
            <% end %>
        <% else %>
            <% if part.title != 'Линии производства комбикорма' %>
                <li><h3><%= link_to "#{part.title} для комбикорма", part_path(part.id) %></h3></li>
            <% else %>
                <li><h3><%= link_to "#{part.title}", part_path(part.id) %></h3></li>
            <% end %>
            </li>
        <% end %>

        <% @types = Type.where("part_id = ?", part.id) %>
        <div class="row row-centered">
          <% if @types.first %>
              <% @types.each do |type| %>
                  <% if logged_in? %>
                      <div class="col-md-2 col-sm-2 col-xs-2 col-fixed col-centered">
                        <% image = image_tag(type.items.first.attached_assets.first.asset.url(:mini)) if type.items.first && !type.items.first.attached_assets.empty? && type.items.first.attached_assets.first.asset %>
                        <%= link_to image, type_path(type.id) if image %>
                        <%= link_to type.title, type_path(type.id) %>
                      </div>
                  <% else %>
                      <% if type.items.where("public = ?", true).count > 0 %>
                          <div class="col-md-2 col-sm-2 col-xs-2 col-fixed col-centered">
                            <% image = image_tag(type.items.where("public = ?", true).first.attached_assets.first.asset.url(:mini)) if type.items.where("public = ?", true).first && !type.items.where("public = ?", true).first.attached_assets.empty? && type.items.where("public = ?", true).first.attached_assets.first.asset %>
                            <% if type.items.where("public = ?", true).count == 1 %>
                                <%= link_to image, item_path(type.items.where("public = ?", true).first.id) if image %>
                                <%= link_to type.items.where("public = ?", true).first.title, item_path(type.items.where("public = ?", true).first.id) %>
                            <% else %>
                                <%= link_to image, type_path(type.id) if image %>
                                <%= link_to type.title, type_path(type.id) %>
                            <% end %>
                          </div>
                      <% end %>
                  <% end %>
              <% end %>
          <% end %>
        </div>
        <% if logged_in? == false %>
            <% if @counter > 0 %>
                <hr>
            <% end %>
        <% else %>
            <hr>
        <% end %>
    <% end %>
  </ul>
  <h2 class="on-main"><%= @pellet.first.section %></h2>
  <ul>
    <% @pellet.each do |part| %>
        <% @counter = 0 %>
        <% part.types.each do |type| %>
            <% @counter += type.items.where("public = ?", true).count %>
        <% end %>
        <% if logged_in? == false %>
            <% if @counter > 0 %>
                <% if part.title != 'Линии производства пеллет' %>
                    <li><h3><%= link_to "#{part.title} для пеллет", part_path(part.id) %></h3></li>
                <% else %>
                    <li><h3><%= link_to "#{part.title}", part_path(part.id) %></h3></li>
                <% end %>
            <% end %>
        <% else %>
            <% if part.title != 'Линии производства пеллет' %>
                <li><h3><%= link_to "#{part.title} для пеллет", part_path(part.id) %></h3></li>
            <% else %>
                <li><h3><%= link_to "#{part.title}", part_path(part.id) %></h3></li>
            <% end %>
        <% end %>


        <% @types = Type.where("part_id = ?", part.id) %>
        <div class="row row-centered">
          <% if @types.first %>
              <% @types.each do |type| %>
                  <% if logged_in? %>
                      <div class="col-md-2 col-sm-2 col-xs-2 col-fixed col-centered">
                        <% image = image_tag(type.items.first.attached_assets.first.asset.url(:mini)) if type.items.first && !type.items.first.attached_assets.empty? && type.items.first.attached_assets.first.asset %>
                        <%= link_to image, type_path(type.id) if image %>
                        <%= link_to type.title, type_path(type.id) %>
                      </div>
                  <% else %>
                      <% if type.items.where("public = ?", true).count > 0 %>
                          <div class="col-md-2 col-sm-2 col-xs-2 col-fixed col-centered">
                            <% image = image_tag(type.items.where("public = ?", true).first.attached_assets.first.asset.url(:mini)) if type.items.where("public = ?", true).first && !type.where("public = ?", true).first.attached_assets.empty? && type.items.where("public = ?", true).first.attached_assets.first.asset %>
                            <% if type.items.where("public = ?", true).count == 1 %>
                                <%= link_to image, item_path(type.items.where("public = ?", true).first.id) if image %>
                                <%= link_to type.items.where("public = ?", true).first.title, item_path(type.items.where("public = ?", true).first.id) %>
                            <% else %>
                                <%= link_to image, type_path(type.id) if image %>
                                <%= link_to type.title, type_path(type.id) %>
                            <% end %>
                          </div>
                      <% end %>
                  <% end %>
              <% end %>
          <% end %>
        </div>
        <% if logged_in? == false %>
            <% if @counter > 0 %>
                <hr>
            <% end %>
        <% else %>
            <hr>
        <% end %>
    <% end %>
  </ul>
</div>
