<% @part.section == "Комбикормовое оборудование" ? (breadcrumb :edit_part_kombikorm, @part) : (breadcrumb :edit_part_pellet, @part) %>
<%= render 'shared/parts_error_messages' %>
<div class="col-md-4">
  <%= form_for(@part) do |f| %>
      <%= f.label :section, 'Тип оборудования' %>
      <%= f.select(:section, [["Комбикормовое оборудование"], ["Пеллетное оборудование"]], {}, :class => 'form-control') %>
      <%= f.label :title, 'Наименование' %>
      <%= f.select(:thumb_item_id, @thumbs, {}, :class => 'form-control') %>
      <%= f.text_field :title, class: 'form-control' %>
      <%= f.submit "Изменить", class: "btn btn-primary" %>
  <% end %>
</div>