<% breadcrumb :kombikorm %>
<div class="row">
  <div class="col-md-3 catalog-list">
    <ul>
      <% @kombikorm.each do |part| %>
          <li><%= link_to part.title, part_path(part.id) %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-8 catalog">
    <h2><%= @kombikorm.first.section %></h2>
    <ul>
      <% @kombikorm.each do |part| %>
          <li><h3><%= link_to "#{part.title} для комбикорма", part_path(part.id) %></h3></li>
          <% @types = Type.where("part_id = ?", part.id) %>
          <div class="row">
            <% if @types.first %>
                <% @types.each do |type| %>
                    <div class="col-md-3">
                      <%= image_tag(type.items.first.attached_assets.first.asset.url(:mini)) if type.items.first && !type.items.first.attached_assets.empty? && type.items.first.attached_assets.first.asset %>
                      <% if type.items.all.count == 1 && !logged_in? %>
                          <%= link_to type.items.first.title, item_path(type.items.first.id) %>
                      <% else %>
                          <%= link_to type.title, type_path(type.id) %>
                      <% end %>
                    </div>
                <% end %>
            <% else %>
                <div class="col-md-3">
                  Материалов нет
                </div>
            <% end %>
          </div>
          <hr>
      <% end %>
    </ul>
  </div>
</div>