<% breadcrumb :add_part %>
<%= render 'shared/parts_error_messages' %>
<div class="col-md-4 form-group">
  <%= form_for @part do |f| %>
      <%= f.label :section, 'Тип оборудования' %>
      <%= f.select(:section, [["Комбикормовое оборудование"], ["Пеллетное оборудование"]], {}, :class => 'form-control') %>
      <%= f.label :title, 'Наименование' %>
      <%= f.text_field :title, class: 'form-control' %>
      <%= f.submit "Добавить", class: "btn btn-primary" %>
  <% end %>
</div>