<% @part.section == "Комбикормовое оборудование" ? (breadcrumb :part_kombikorm, @part) : (breadcrumb :part_pellet, @part) %>

<% if logged_in? %>
    <p>
      <%= link_to 'Добавить материал', new_item_path, :class => "btn btn-primary btn-item" %>
      <%= link_to "Редактировать раздел", edit_part_path(@part), :class => "btn btn-edit btn-primary" %>
      <%= link_to "Удалить раздел", @part, :class => "btn btn-danger", method: :delete, data: { confirm: "Вы уверены?" } %>
    </p>
<% end %>

<div class="row">
  <div class="col-md-3 col-sm-4 catalog-list">
    <ul>
      <li><b><%= link_to "Комбикормовое оборудование", kombikorm_path %></b></li>
      <% @kombikorm.each do |part| %>
          <% @all_count = 0 %>
          <% @publish_count = 0 %>
          <% part.types.each do |type| %>
              <% @all_count += type.items.all.count %>
              <% @publish_count += type.items.where("public = ?", true).count %>
          <% end %>

          <% if @count != 0 && logged_in? %>
              <li><%= link_to "#{part.title} (<span class='publish'>#{@publish_count}</span>/#{@all_count})".html_safe, part_path(part.id) %></li>
          <% else %>
              <li><%= link_to "#{part.title} (#{@publish_count})", part_path(part.id) %></li>
          <% end %>
      <% end %>
    </ul>
    <ul>
      <li><b><%= link_to "Комбикормовое оборудование", pellet_path %></b></li>
      <% @pellet.each do |part| %>
          <% @all_count = 0 %>
          <% @publish_count = 0 %>
          <% part.types.each do |type| %>
              <% @all_count += type.items.all.count %>
              <% @publish_count += type.items.where("public = ?", true).count %>
          <% end %>

          <% if @count != 0 && logged_in? %>
              <li><%= link_to "#{part.title} (<span class='publish'>#{@publish_count}</span>/#{@all_count})".html_safe, part_path(part.id) %></li>
          <% else %>
              <li><%= link_to "#{part.title} (#{@publish_count})", part_path(part.id) %></li>
          <% end %>
      <% end %>
    </ul>
  </div>
  <div class="col-md-8 catalog">
    <ul>
      <% if @types.first %>
          <div class="row row-centered">
            <% @types.each do |type| %>
                <% if logged_in? %>
                    <div class="col-md-2 col-sm-2 col-xs-2 col-fixed col-centered">
                      <%= image_tag(type.items.first.attached_assets.first.asset.url(:mini)) if type.items.first && !type.items.first.attached_assets.empty? && type.items.first.attached_assets.first.asset %>
                      <% @all_count = type.items.all.count %>
                      <% @publish_count = type.items.where("public = ?", true).count %>
                      <%= link_to "#{type.title} <br> (<span class='publish'>#{@publish_count}</span>/#{@all_count})".html_safe, type_path(type.id) %>
                    </div>
                <% else %>
                    <div class="col-md-2 col-sm-2 col-xs-2 col-fixed col-centered">
                      <%= image_tag(type.items.where("public = ?", true).first.attached_assets.first.asset.url(:mini)) if type.items.where("public = ?", true).first && !type.items.where("public = ?", true).first.attached_assets.empty? && type.items.where("public = ?", true).first.attached_assets.first.asset %>
                      <% if type.items.where("public = ?", true).count == 1 %>
                          <%= link_to type.items.where("public = ?", true).first.title, item_path(type.items.where("public = ?", true).first.id) %>
                      <% else %>
                          <%= link_to type.title, type_path(type.id) %>
                      <% end %>
                    </div>
                <% end %>
            <% end %>
          </div>
      <% else %>
          <div class="col-md-2 col-sm-2 col-xs-2 col-fixed col-centered">
            Материалов нет
          </div>
      <% end %>

    </ul>
  </div>
</div>