<% breadcrumb :edit_comment %>
<%= render 'shared/comments_error_messages' %>
<%= form_for @comment do |f| %>
    <%= f.label :body, 'Текст отзыва' %>
    <%= f.text_area :body, :class => 'form-control' %>
    <p>
     <div class="checkbox">
       <label>
         <%= f.check_box :public %>
         Опубликован
       </label>
     </div>
     </p>
      <% if logged_in? %>
               <ul class="nav nav-pills">
                 <li><i class="fa fa-calendar form-control"></i></li>
                 <li><%= f.text_field :created_at, :placeholder => 'Дата публикации', class: "datepicker form-control" %></li>
               </ul>
           <% end %>

    <%= f.submit "Сохранить", class: "btn btn-primary" %>
<% end %>