<% breadcrumb :new_comment %>
<%= render 'shared/comments_error_messages' %>
<div class="col-md-7">
  <%= form_for @comment, :html => { "data-parsley-validate" => '' } do |f| %>
      <%= f.label :name, 'Ваше имя*' %>
      <%= f.text_field :name, 'required' => '', class: 'form-control' %>
      <%= f.label :email, 'Email*' %>
      <%= f.text_field :email, 'type' => 'email', 'required' => '', class: 'form-control' %>
      <%= f.label :body, 'Ваш отзыв*' %>
      <%= f.text_area :body, "data-parsley-minlength-message" => 'Минимум 5 символов', "data-parsley-trigger" => 'keyup', 'data-parsley-minlength' => '5', :class => 'form-control' %>

      <% if logged_in? %>
          <ul class="nav nav-pills">
            <li><i class="fa fa-calendar form-control"></i></li>
            <li><%= f.text_field :created_at, "data-parsley-trigger" => "change", "data-parsley-date" => '', 'required' => '', :placeholder => 'Дата публикации', class: "datepicker form-control" %></li>
          </ul>
      <% end %>

      <%= f.submit "Добавить", class: "btn btn-primary" %>
  <% end %>
</div>
