<h3>Мы производим..</h3>
<div class="catalog">
  <h4><%= @kombikorm.first.section_name %></h4>

  <div class="row">
    <ul>
      <% @kombikorm.each do |type| %>
          <% @item = Item.where("type_id = ?", type.id).first %>
          <% if @item %>
              <div class="col-md-3">
                <%= image_tag(@item.attached_assets.first.asset.url(:mini)) if !@item.attached_assets.empty? && @item.attached_assets.first.asset %>
                <%= link_to "#{type.title} для комбикорма", type_path(type.id) %>
              </div>
          <% end %>
      <% end %>
    </ul>
  </div>

  <h4><%= @pellet.first.section_name %></h4>

  <div class="row">
    <ul>
      <% @pellet.each do |type| %>
          <% @item = Item.where("type_id = ?", type.id).first %>
          <% if @item %>
              <div class="col-md-3">
                <%= image_tag(@item.attached_assets.first.asset.url(:mini)) if !@item.attached_assets.empty? && @item.attached_assets.first.asset %>
                <%= link_to "#{type.title} для пеллет", type_path(type.id) %>
              </div>
          <% end %>
      <% end %>
    </ul>
  </div>

</div>