<% @part.section == "Комбикормовое оборудование" ? (breadcrumb :edit_type_kombikorm, @type, @part) : (breadcrumb :edit_type_pellet, @type, @part) %>
<%= render 'shared/types_error_messages' %>
<div class="col-md-4">
  <%= form_for(@type) do |f| %>

      <%= f.label :section, 'Тип оборудования' %>
      <%= f.select :section, @sections.map {|value| [ value, value ]}, {:selected => @type.section, :include_blank => "Выберете тип оборудования"}, {:class=>'form-control', :id=>'sections_select'} %>

      <%= f.label :part_id, 'Раздел' %>
      <%= f.collection_select :part_id, @parts, :id, :title, {:selected => @type.part_id}, {:class => 'form-control', :id=>'parts_select' } %>

      <%= f.label :title, 'Наименование' %>

      <%= f.text_field :title, class: 'form-control' %>

          <%= f.label :thumb_item_id, 'Превью' %>
          <%= f.collection_select :thumb_item_id, @items, :id, :title, {}, {:class => 'form-control'} %>
      <%= f.submit "Сохранить", class: "btn btn-primary" %>
  <% end %>
</div>