<% breadcrumb :edit_type, @type %>
<%= render 'shared/types_error_messages' %>
<div class="col-md-4">
  <%= form_for(@type) do |f| %>

      <%= f.label 'Тип оборудования' %>
      <%= f.collection_select :roottype, Roottype.all, :id, :title,
                              {:selected => @type.part.roottype_id}, {:class => 'form-control', :id=>'roottypes_select' } %>

      <%= f.label :part_id, 'Раздел' %>
      <%= f.collection_select :part_id, @parts, :id, :title, {:selected => @type.part_id}, {:class => 'form-control', :id => 'parts_select' } %>

      <%= f.label :title, 'Наименование' %>

      <%= f.text_field :title, class: 'form-control' %>

          <%= f.label :thumb_item_id, 'Превью' %>
          <%= f.collection_select :thumb_item_id, @items, :id, :title, {}, {:class => 'form-control'} %>
      <%= f.submit "Сохранить", class: "btn btn-primary" %>
  <% end %>
</div>