<% breadcrumb :catalog %>
<% if logged_in? %>
    <p>
      <%= link_to 'Добавить материал', new_item_path, :class => "btn btn-primary" %>
      <%= link_to 'Добавить раздел', new_type_path, :class => "btn btn-primary" %>
    </p>
<% end %>
<div class="catalog">
  <h2><%= @kombikorm.first.section_name %></h2>
  <ul>
    <% @kombikorm.each do |type| %>
        <li><h3><%= link_to "#{type.title} для комбикорма", type_path(type.id) %></h3></li>
        <% @items = Item.where("type_id = ?", type.id) %>
        <div class="row">
          <% if @items.first %>
              <% @items.each do |item| %>
                  <div class="col-md-2">
                    <%= image_tag(item.attached_assets.first.asset.url(:mini)) if !item.attached_assets.empty? && item.attached_assets.first.asset %>
                    <%= link_to item.title, item_path(item.id) %>
                  </div>
              <% end %>
          <% else %>
              <div class="col-md-2">
                Материалов нет
              </div>
          <% end %>
        </div>
        <hr>
    <% end %>
  </ul>
  <h2><%= @pellet.first.section_name %></h2>
  <ul>
    <% @pellet.each do |type| %>
        <li><h3><%= link_to "#{type.title} для пеллет", type_path(type.id) %></h3></li>
        <% @items = Item.where("type_id = ?", type.id) %>
        <div class="row">
          <% if @items.first %>
              <% @items.each do |item| %>
                  <div class="col-md-2">
                    <%= image_tag(item.attached_assets.first.asset.url(:mini)) if !item.attached_assets.empty? && item.attached_assets.first.asset %>
                    <%= link_to item.title, item_path(item.id) %>
                  </div>
              <% end %>
          <% else %>
              <div class="col-md-2">
                Материалов нет
              </div>
          <% end %>
        </div>
        <hr>
    <% end %>
  </ul>
</div>
