<% breadcrumb :pellet %>
<h3><%= @pellet.first.section_name %></h3>
<ul>
  <% @pellet.each do |type| %>
      <li><%= link_to type.title, type_path(type.id) %></li>
  <% end %>
</ul>
<div class="catalog">
<ul>
  <% @pellet.each do |type| %>
      <li><h4><%= link_to "#{type.title} для пеллет", type_path(type.id) %></h4></li>
      <% @items = Item.where("type_id = ?", type.id) %>
      <div class="row">
        <% if @items.first %>
            <% @items.each do |item| %>
                <div class="col-md-2">
                  <%= image_tag(item.attached_assets.first.asset.url(:mini)) if !item.attached_assets.empty? && item.attached_assets.first.asset %>
                  <%= link_to item.title, item_path(item.id) %>
                </div>
            <% end %>
        <% else %>
            <div class="col-md-2">
              Материалов нет
            </div>
        <% end %>
      </div>
      <hr>
  <% end %>
</ul>
</div>