<% if @type.section_name == "Комбикормовое оборудование" %>
    <% breadcrumb :type_kombikorm, @type %>
<% else %>
    <% breadcrumb :type_pellet, @type %>
<% end %>
<h2><%= @type.title %></h2>
<p>
  <%= link_to "Редактировать раздел", edit_type_path(@type), :class => "btn btn-primary" %>
  <%= link_to "Удалить раздел", @type, :class => "btn btn-danger", method: :delete, data: { confirm: "Вы уверены?" } %>
</p>

<div class="catalog">
<ul>
  <% if @items.first %>
      <% @items.each do |item| %>
          <div class="col-md-2">
            <%= image_tag(item.attached_assets.first.asset.url(:mini)) if !item.attached_assets.empty? && item.attached_assets.first.asset %>
            <%= link_to item.title, item_path(item.id) %>
          </div>
      <% end %>
  <% else %>
      <div class="col-md-2">
        Материалов нет
      </div>
  <% end %>

</ul>
</div>