
<% require 'nokogiri' %>
<% parser = Nokogiri::HTML(action.body) %>
<% img = parser.css('img') %>
<% parser.search('img').remove %>

<div class="blog-item col-md-4">
  <%= raw(img) %>
  <h3><%= link_to action.title, action_path(action.id) %></h3>

  <p><%= truncate(raw(parser), length: 255, :escape => false) %></p>

  <p class="views">
    Добавлено: <%= action.created_at.strftime("%d.%m.%y") %><br>
    Просмотров: <%= action.impressionist_count(:filter => :all) %>
  </p>

  <p class="read">
    <%= link_to "Читать полностью", action_path(action.id) %>
  </p>


<br>
  <% if logged_in? %>
      <p class="admin">
        <%= link_to "Изменить", edit_action_path(action), :class => "btn btn-sm btn-primary" %>
        <%= link_to "Удалить", action, :class => "btn btn-sm btn-danger", method: :delete, data: { confirm: "Вы уверены?" } %>
      </p>
  <% end %>
</div>