<h1>Акции</h1>
<p><%= link_to 'Добавить акцию', new_action_path %></p>

<% @action.each do |action| %>
    <h3><%= link_to action.title, action_path(action.id) %></h3>
    <p><%= truncate(action.body, length:255) %></p>
    <p><%= link_to "Читать полностью", action_path(action.id) %></p>
    <p><%= action.created_at.strftime("%d.%m.%y") %> | Просмотров: <%= action.impressionist_count(:filter=>:all) %></p>
<% end %>

