<% breadcrumb :contact %>

<div id="map" style='width: 100%; height: 400px;'></div>

<div class="row">
  <div class="col-md-7 callback">
    <h4>Форма обратной связи</h4>

    <p>Задайте нам Ваш вопрос, и мы свяжемся с Вами в ближайшее время</p>

    <%= form_for @global, :html => { "data-parsley-validate" => '' }, :url => url_for(:controller => 'callbacks', :action => 'slow_callback') do %>
        <%= label_tag(:name, 'Ваше имя*') %>
        <%= text_field_tag(:name, '', 'required' => '', :class => 'form-control') %>

        <%= label_tag(:email, 'Email*') %>
        <%= text_field_tag(:email, '', 'type' => 'email', 'required' => '', :class => 'form-control') %>

        <%= label_tag(:subject, 'Тема сообщения') %>
        <%= text_field_tag(:subject, '', :class => 'form-control') %>

        <%= label_tag(:message, 'Текст сообщения*') %>
        <%= text_area_tag(:message, '', "data-parsley-trigger" => 'keyup', 'data-parsley-minlength' => '10', :class => 'form-control') %>
        <%= submit_tag "ОТПРАВИТЬ", :class => "btn btn-sm btn-default" %>

    <% end %>
  </div>
  <div class="col-md-5 contact">
    <ul>
      <li><i class="fa fa-phone"></i> <%= phone %></li>
      <li><i class="fa fa-clock-o"></i> <%= workStart %>:00 до <%= workEnd %>:00 по Московскому времени</li>
      <li><i class="fa fa-envelope-o"></i> <%= email %></li>
      <li><i class="fa fa-arrows-alt"></i> <%= address.gsub(/<br\s*\/?>/, '') %></li>
    </ul>
  </div>
</div>

<script type="text/javascript">
    var handler = Gmaps.build('Google');
    handler.buildMap({internal: {id: 'map'}}, function () {
        var markers = handler.addMarkers([
            {
                "lat": 56.2371,
                "lng": 43.8788,
                "picture": {
                    "url": "http://s10.postimg.org/nd7rb9kid/kraud_office2_45.png",
                    "width": 45,
                    "height": 45
                },
                "infowindow": "<%= raw("<b>Наш офис</b><br>")%> Нижний Новгород, <%= raw("&nbsp;&nbsp;&nbsp;<br>") %> ул. Монастырка, 20"
            },
            {
                lat: 56.2281,
                lng: 43.8965,
                "picture": {
                    "url": "http://s10.postimg.org/jsbvs1fyt/kraud_warehouse2_45.png",
                    "width": 45,
                    "height": 45
                },
                infowindow: " <%= raw("<b>Наш склад</b><br>")%> Нижний Новгород, <%= raw("&nbsp;&nbsp;&nbsp;<br>") %> ул. Фучика, 60"
            }
        ]);

        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(14);
    });
</script>