<% breadcrumb :root %>

<ul class="bxslider">
  <% @sliders.each do |slider| %>
      <li><%= image_tag(slider.image.url(:normal), :alt => slider.title, :title => slider.title) %></li>
<% end %>
</ul>


<% if logged_in? %>
    <%= link_to 'Глобальные настройки', globals_path, :class => "btn btn-primary" %>
    <%= link_to 'Управление слайдером', sliders_path, :class => "btn btn-primary" %>
    <%= link_to 'Управление случайными фразами', captions_path, :class => "btn btn-primary" %>
<% end %>

<div class="row">
  <div class="col-md-8">
    <h2>Компания Крауд - производство оборудования для комбикорма и пеллет</h2>

    <p class="landing">Компания «Крауд НН» - производитель и поставщик современного оборудования для сельского хозяйства
      и
      перерабатывающей промышленности. Миссия компании «Крауд НН» - способствовать развитию в России эффективного
      сельского хозяйства и перерабатывающей промышленности.</p>
  </div>
  <div class="col-md-3">
    <%= image_tag("karen.png", :alt => "karen", :size => "310x230") %>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="tidings-preview">
      <h4>Новости компании</h4>
      <ul>
        <% @tidings.each do |tiding| %>
            <li><span class="date"><%= tiding.created_at.strftime("%d.%m.%y") %></span>
              <%= link_to tiding.title, tiding_path(tiding.id), :class => 'single' %>
            </li>
        <% end %>
      </ul>
      <p>
        <%= link_to "Все новости", tidings_path, :class => 'all' %>
      </p>
    </div>
    <div class="actions-preview">
      <h4>Внимание, акция!</h4>
      <ul>
        <% @actions.each do |action| %>
            <li><span class="date"><%= action.created_at.strftime("%d.%m.%y") %></span>
              <%= link_to action.title, action_path(action.id), :class => 'single' %>
            </li>
        <% end %>
      </ul>
      <p>
        <%= link_to "Все акции", actions_path, :class => 'all' %>
      </p>
    </div>
  </div>

  <div class="col-md-9">
    <table>
      <tr>
        <td>
          <h4>Организация процессов</h4>

          <p>Благодаря правильно выстроенной цепочке процессов, современному уровню технологии производства, расширенным
            испытаниям и квалифицированному персоналу мы обеспечиваем выпуск продукции, соответствующий всем требованиям
            клиентов, а во многом и превосходим ожидания Заказчиков.
          </p>
        </td>
        <td>
          <h4>Инжиниринг</h4>

          <p>При разработке оборудования наши инжинеры используют самые современные технологии и многолетний опыт.
            Конструкторский отдел компании имеет возможность разработать схему любой сложности исходя из Ваших
            потребностей.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <h4>Собственное производство</h4>

          <p>Компания «Крауд» имеет собственные производственные площади, расположенные в г. Нижнем Новгороде и г.
            Арзамасе.
            На производстве задействовано более 300 квалифицированных специалистов.
          </p>
        </td>
        <td>
          <h4>Качество по доступной цене</h4>

          <p>Мы разрабатываем и производим наше оборудование, учитывая реалии российского рынка. Оборудование компании
            «Крауд НН» при разумных ценах обеспечивает максимальную отдачу и длительный срок бесперебойной службы
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <h4>Приоритет - интерес клиента</h4>

          <p>В своей работе мы руководствуемся исключительно интересами клиента. Мы начинаем сотрудничество только в том
            случае, если на 100% уверены, что наше предложение полностью удовлетворяет нуждам заказчика и оптимальным
            образом
            решает его задачи
          </p>
        </td>
        <td>
          <h4>Наши решения приносят прибыль</h4>

          <p>Сотрудничая с нами, вы получаете качественную и надежную технику по конкурентным ценам, что гарантирует
            быстрый
            возврат инвестиций и стабильную эксплуатацию в течение многих лет
          </p>
        </td>
      </tr>
    </table>

  </div>
</div>

<hr class="solid-hr">

<%= render "parts/index" %>
<%= render "abouts/index" %>