<% breadcrumb :root %>

<ul class="bxslider">
  <% @sliders.each do |slider| %>
      <li><%= image_tag(slider.image.url(:normal), :alt => slider.title, :title => slider.title) %></li>
  <% end %>
</ul>


<% if logged_in? %>
    <%= link_to 'Редактировать страницу', edit_main_path(@main), :class => "btn btn-primary" %>
    <%= link_to 'Глобальные настройки', globals_path, :class => "btn btn-primary" %>
    <%= link_to 'Управление слайдером', sliders_path, :class => "btn btn-primary" %>
    <%= link_to 'Управление случайными фразами', captions_path, :class => "btn btn-primary" %>
<% end %>

<div class="row karen">
  <div class="col-md-8">
    <h2>
    <%= raw(@main.seotitle) %>
    </h2>

    <p class="landing">
      <%= raw(@main.seo) %>
    </p>
  </div>
  <div class="col-md-3 ">
    <%= image_tag("karen.png", :alt => "karen", :size => "310x230") %>
  </div>
</div>

<div class="row">
  <div class="col-md-3 col-sm-6 preview">

    <div class="vidget-head">
      <h4 class="block"> &nbsp; </h4>
      <h4>Новости компании</h4>
    </div>
    <ul>
      <% @tidings.each do |tiding| %>
          <li><span class="date"><%= tiding.created_at.strftime("%d.%m.%y") %></span>
            <%= link_to tiding.title, tiding_path(tiding.id), :class => 'single' %>
          </li>
      <% end %>
    </ul>
    <p>
      <%= link_to "Все новости", tidings_path, :class => 'all' %>
    </p>

    <div class="vidget-head">
      <h4 class="block"> &nbsp; </h4>
      <h4>Внимание, акция!</h4>
    </div>
    <ul>
      <% @actions.each do |action| %>
          <li><span class="date"><%= action.created_at.strftime("%d.%m.%y") %></span>
            <%= link_to action.title, action_path(action.id), :class => 'single' %>
          </li>
      <% end %>
    </ul>
    <p>
      <%= link_to "Все акции", actions_path, :class => 'all' %>
    </p>

  </div>
  <div class="col-md-8 col-sm-8 advantages">
    <%= raw(@main.advantages) %>
  </div>
</div>

<hr class="solid-hr">

<%= render "parts/index" %>
<%= render "abouts/index" %>