<% breadcrumb :edit_asset %>
<%= render 'shared/photogal_assets_error_message' %>
<div class="col-md-4">
  <%= form_for(@asset) do |f| %>
      <%= label_tag 'Title' %>
      <%= f.text_field :title, class: "form-control" %>
      <%= f.submit "Изменить", class: "btn btn-primary" %>
  <% end %>
</div>
