<% require 'nokogiri' %>
<% parser = Nokogiri::HTML(@tiding.body) %>
<% img = parser.css('img') %>
<% img.add_class('tiding-img') %>
<% parser.search('img').remove %>

<% breadcrumb :tiding, @tiding %>
<%= raw(img) %>
<p>
<h3><%= @tiding.title %></h3>
<%= raw(parser) %>
</p>
<p> Дата создания: <%= @tiding.created_at.strftime("%d.%m.%y") %>, Просмотров: <%= @impression %></p>
<% if logged_in? %>
    <p class="admin">
      <%= link_to "Изменить", edit_tiding_path(@tiding), :class => "btn btn-sm btn-primary" %>
      <%= link_to "Удалить", @tiding, :class => "btn btn-sm btn-danger", method: :delete, data: { confirm: "Вы уверены?" } %>
    </p>
<% end %>