<% breadcrumb :about %>
<% if logged_in? %>
    <%= link_to "Редактировать страницу", edit_about_path(@body), :class => "btn btn-primary" %>
    <%= link_to "Управление отзывами (#{@notPublic})", comments_path, :class => "btn btn-primary" %>
<% end %>
<p><%= raw(@body.body) %></p>
<h4>Отзывы клиентов</h4>
<% if @comments %>
    <% @comments.each do |comment| %>
        <% title = "дата создания: #{comment.created_at.strftime("%d.%m.%y")}, опубликован #{comment.updated_at.strftime("%d.%m.%y")}" %>
        <div class="blog-item">
          <p><b><%= comment.name %></b>, <%= title %> </p>

          <p><%= comment.body %></p>
        </div>
    <% end %>
<% end %>
<%= link_to "Добавить свой отзыв", new_comment_path, :class => "btn btn-default" %>