<% breadcrumb :edit_item, @item %>
<%= render 'shared/items_error_messages' %>

<label>Изображения страницы</label>
<table class="table table-condensed">
  <% @item.attached_assets.each do |a| %>
      <tr>
        <td><%= image_tag(a.asset.url(:mikro)) %></td>
        <td> <%= a.asset_file_name %></td>
        <td><%= link_to 'Удалить', destroy_item_asset_path(@item.id, a.id), data: {confirm: 'Вы уверены?'} %></td>
      </tr>
  <% end %>
</table>

<%= form_for @item, :html => {:multipart => true} do |f| %>

    <%= f.label 'Тип оборудования' %>
    <%= f.collection_select :roottype, Roottype.all, :id, :title,
                            {:selected => @part.roottype_id}, {:class => 'form-control', :id=>'roottypes_select' } %>

    <%= f.label 'Раздел' %>
    <%= f.collection_select @part, @parts, :id, :title,
                            {:selected => @item.type.part_id}, {:class => 'form-control', :id=>'parts_select' } %>

    <%= f.label :type_id, 'Подраздел' %>
    <%= f.collection_select :type_id, @types, :id, :title,
                            {:selected => @item.type_id}, {:class => 'form-control', :id => 'types_select'} %>

    <%= f.label :title, 'Наименование' %>
    <%= f.text_field :title, class: 'form-control' %>

    <%= f.label :body, 'Текст материала' %>
    <%= f.cktext_area :body, :class => 'form-control', :ckeditor => {:language => 'ru', :toolbar => 'mini'} %>


    <%= f.label :metatitle, 'Title' %>
    <%= f.text_field :metatitle, class: 'form-control' %>

    <%= f.label :keywords, 'Keywords' %>
    <%= f.text_field :keywords, class: 'form-control' %>

    <div class="file_upload">+<%= file_field_tag('item_attached_assets_asset', multiple: true, name: "item[attached_assets_attributes][][asset]") %> </div>
    <b>Загрузить изображения</b> (изображения отображатся в превью и галерее)  <br>

    <%= f.submit "Сохранить", class: "btn btn-primary" %>

<% end %>
