<% breadcrumb :add_item %>
<%= render 'shared/items_error_messages' %>
<%= form_for @item, :html => { :multipart => true } do |f| %>

    <%= f.label 'Тип оборудования' %>
    <%= f.collection_select Roottype.all, :id, :title, {}, {:class => 'form-control', :id=>'roottype_select' } %>

    <%= f.label 'Раздел' %>
    <%= f.collection_select @parts, :id, :title, {}, {:class => 'form-control', :id=>'parts_select' } %>

    <%= f.label :type_id, 'Подраздел' %>
   <%= f.collection_select :type_id, @types, :id, :title, {}, {:class => 'form-control', :id=>'types_select' } %>

    <%= f.label :title, 'Наименование' %>
    <%= f.text_field :title, class: 'form-control' %>

    <%= f.label :body, 'Текст материала' %>
    <%= f.cktext_area :body, :class => 'form-control', :ckeditor => { :language => 'ru', :toolbar=>'mini' } %>


    <%= f.label :metatitle, 'Title' %>
    <%= f.text_field :metatitle, class: 'form-control' %>

    <%= f.label :keywords, 'Keywords' %>
    <%= f.text_field :keywords, class: 'form-control' %>

                <div class="file_upload">+<%= file_field_tag('item_attached_assets_asset', multiple: true, name: "item[attached_assets_attributes][][asset]") %> </div> <b>Загрузить изображения</b> (изображения отображатся в превью и галерее)  <br>

                <%= f.hidden_field :public, :value => true %>
                <%= f.submit "Добавить", class: "btn btn-primary" %>

                <% end %>
