<% if @item.section == "Комбикормовое оборудование" %>
    <% breadcrumb :item_kombikorm, @item, @type %>
<% else %>
    <% breadcrumb :item_pellet, @item, @type %>
<% end %>
<p>
  <%= link_to "Редактировать материал", edit_item_path(@item), :class => "btn btn-primary" %>
  <%= link_to "Удалить материал", @item, :class => "btn btn-danger", method: :delete, data: { confirm: "Вы уверены?" } %>
</p>

<div class="row">
  <div class="col-md-6 item-description">
    <div class="col-md-3 col-sm-offset-1 gallery">
      <div id="goToPrevSlide"></div>
      <div id="goToNextSlide"></div>
      <ul id="lightSlider">
        <% @item.attached_assets.each do |a| %>
            <li data-thumb="<%= a.asset.url(:mikro) %>">
              <%= link_to image_tag(a.asset.url(:normal)), a.asset.url(:normal), :rel => "gal", :title => a.asset_file_name.slice(0..(a.asset_file_name.index('.')-1)) %>
            </li>
        <% end %>
      </ul>
    </div>
    <h4 class="item-title"><%= @item.title %></h4>
    <%= raw(@description) if @description %>
    <% if @features %>
        <h4 class="text">Особенности конструкции</h4>
        <%= raw(@features) %>
    <% end %>
  </div>
</div>


<div id="text">
  <% if @table %>
      <h4>Технические характеристики</h4>
      <table class="table table-striped table-hover table-bordered"> <%= raw(@table) %></table>
  <% end %>
  <div class="row">
    <% if @delivery %>
        <div class="col-md-5">
          <h4>Условия поставки</h4>
          <%= raw(@delivery) %>
        </div>
    <% end %>
    <% if @options %>
        <div class="col-md-5">
          <h4>Комплектация</h4>
          <%= raw(@options) %>
        </div>
    <% end %>
  </div>
</div>






