<% if @uploads.length > 0 %>
    <% @uploads.each do |upload| %>
        <p>
          <% if upload.asset_file_name.include? "doc" %>
              <%= image_tag 'doc.jpg' %>
          <% elsif upload.asset_file_name.include? "ppt" %>
              <%= image_tag 'ppt.jpg' %>
          <% else %>
              <%= image_tag 'other.jpg' %>
          <% end %>
          <%= link_to upload.name, upload.asset.url %>
          <%= link_to "(Удалить)", upload, method: :delete, data: { confirm: "Вы уверены?" } if logged_in? %>
        </p>
    <% end %>
<% else %>
    <p>Нет файлов</p>
<% end %>