<%
   @notPublic = Comment.where("public = ? OR public = ?", nil, false).length
   @body = About.find(1)

   Time.zone = 'Moscow'
   t = Time.zone.now
   if (t.hour >= workStart && t.hour <= workEnd && t.wday != 6 && t.wday !=0) ||
           (t.wday == 5 && t.hour >= workStart && t.hour <= (workEnd - 1))
     @hours = "Сейчас работаем"
   else
     if t.wday !=6 && t.wday !=0 && (t.wday != 5 && t.hour >= (workEnd - 1))
       @will_be_time = 24 - t.hour + workStart
       @plural = Russian::pluralize(@will_be_time, "час", "часа", "часов")
       @hours = "Открываемся через #{@will_be_time} #{@plural}"
     else
       @hours = "Открываемся в понедельник в #{workStart}:00"
     end
   end
%>

<% if logged_in? %>
    <div class="main-admin">
      <%= link_to 'Выход', logout_path, method: "delete", :class => "btn btn-primary btn-logout" %>
      <section>
        Вы вошли как <b><%= current_admin.name %></b> &nbsp;|&nbsp;
        <%= link_to "Отзывы (#{@notPublic})", comments_path %> &nbsp;|&nbsp;
        <%= link_to 'Изменить данные профиля', edit_admin_path(current_admin) %> &nbsp;|&nbsp;
        <%= link_to 'Зарегистрировать нового администратора', new_admin_path %>
      </section>
    </div>
<% end %>
<header>
  <div class="row">
    <div class="col-md-4 main-logo">
      <%= link_to image_tag("logo.png", :alt => "logo", :size => "320x130", :class => "logo"), root_path %>
      <h3 class="under-logo">КОМБИКОРМОВОЕ ОБОРУДОВАНИЕ<br>
        ПЕЛЛЕТНОЕ ОБОРУДОВАНИЕ</h3>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6">
      <h2><strong>ПРОИЗВОДИТЕЛЬ <br> И ПОСТАВЩИК</strong></h2>

      <p class="under-logo">СОВРЕМЕННОГО ВЫСОКОКАЧЕСТВЕННОГО ОБОРУДОВАНИЯ <br> ДЛЯ СЕЛЬСКОГО ХОЗЯЙСТВА</p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6 time">
      <p>С <%= workStart %>:00 до <%= workEnd %>:00 по МCК <br> (<%= @hours %>)</p>
      <a class="md-trigger" data-modal="modal-1">
        <i class="fa fa-phone fa-2x fa-fw tooltips"> <span>Нажмите, чтобы заказать обратный звонок</span></i>
      </a>
      <span class="phone ya-phone"><%= phone %></span>
    </div>
  </div>

  <div class="md-modal md-effect-1" id="modal-1">
    <div class="md-content">
      <div id="centredForm">
        <button class="md-close close fa fa-2x fa-times"></button>
        <h1>Закажите обратный звонок</h1>

        <h2>Мы перезвоним Вам в течение получаса...</h2>

        <div class="callForm">
          <%= form_for @body, :html => {"data-parsley-validate" => ''}, :url => url_for(:controller => 'callbacks', :action => 'fast_callback') do %>
              <%= text_field_tag(:name, '', 'required' => '', :placeholder => "ФИО", :class => 'form-control') %>
              <%= text_field_tag(:phone, '', 'required' => '', :placeholder => "Телефон", :class => 'form-control phone-format') %>
              <%= text_field_tag(:region, '', "parsley-trigger" => "change", 'required' => '', :placeholder => "Регион", :class => 'form-control') %>
              <%= submit_tag "ОТПРАВИТЬ" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="md-overlay"></div>
</header>