<%
   @notPublic = Comment.where("public = ? OR public = ?", nil, false).length
   @body = About.find(1)

   Time.zone = 'Moscow'
   t = Time.zone.now
   if t.hour >= workStart && t.hour <= workEnd && t.wday != 6 && t.wday !=0
     @hours = "Сейчас работаем"
   else
     if t.wday !=6 && t.wday !=0
       @will_be_time = 24 - t.hour + workStart
       @plural = Russian::pluralize(@will_be_time, "час", "часа", "часов")
       @hours = "Открываемся через #{@will_be_time} #{@plural}"
     else
       @hours = "Открываемся в понедельник в #{workStart}:00"
     end
   end
%>

<% if logged_in? %>
    <div class="main_admin">
     <section>
       Вы вошли как <b><%= current_admin.name %></b> &nbsp;|&nbsp;
      <%= link_to "Отзывы (#{@notPublic})", comments_path %> &nbsp;|&nbsp;
      <%= link_to 'Изменить данные профиля', edit_admin_path(current_admin) %> &nbsp;|&nbsp;
      <%= link_to 'Зарегистрировать нового администратора', new_admin_path %>
      </section>
      <p><%= link_to 'Выход', logout_path, method: "delete", :class => "btn btn-primary" %></p>
    </div>
<% end %>
<header>
  <div class="row">
    <div class="col-lg-4 main-logo">
      <%= link_to image_tag("logo.png", :alt => "logo", :size => "320x130", :class => "logo"), root_path %>
      <h3 class="under-logo">КОМБИКОРМОВОЕ ОБОРУДОВАНИЕ<br>
        ПЕЛЛЕТНОЕ ОБОРУДОВАНИЕ</h3>
    </div>
    <div class="col-lg-4">
      <h2><strong>ПРОИЗВОДИТЕЛЬ <br> И ПОСТАВЩИК</strong></h2>

      <p class="under-logo">СОВРЕМЕННОГО ВЫСОКОКАЧЕСТВЕННОГО ОБОРУДОВАНИЯ <br> ДЛЯ СЕЛЬСКОГО ХОЗЯЙСТВА</p>
    </div>
    <div class="col-lg-4 time">
      <p>С <%= workStart %>:00 до <%= workEnd %>:00 по МCК <br> (<%= @hours %>)</p>
      <a href="#openModal">
        <i class="fa fa-phone fa-2x fa-fw tooltips"> <span>Нажмите, чтобы заказать обратный звонок</span></i></a>
      <span class="phone"><%= phone %></span>
    </div>
  </div>

  <div id="openModal" class="modalDialog">

    <div>
      <a href="#close" title="Close" class="close"><i class="fa fa-times"></i></a>

      <h1>Закажите обратный зконок</h1>

      <p class="call">Мы перезвоним Вам в течение получаса...</p>

      <div class="col-md-6 col-sm-offset-3">
        <%= form_for @body, :html => { "data-parsley-validate" => '' }, :url => url_for(:controller => 'callbacks', :action => 'fast_callback') do %>
            <%= text_field_tag(:name, '', 'required' => '', :placeholder => "Ваше имя", :class => 'form-control') %>
            <%= text_field_tag(:phone, '', "data-parsley-minlength" => "6", "parsley-trigger" => "change", " data-parsley-type" => "digits", 'required' => '', :placeholder => "Телефон", :class => 'form-control') %>
            <%= submit_tag "ОТПРАВИТЬ" %>
        <% end %>
      </div>
    </div>
  </div>
</header>