<nav class="navbar navbar-default ">
  <ul class="nav navbar-nav top-menu">
    <li><%= link_to 'ГЛАВНАЯ', root_path %></li>
    <li><%= link_to 'КАТАЛОГ &nbsp;<i class="fa fa-angle-down"></i>'.html_safe, parts_path, :class => "drop" %>
      <div class="dropdown">
        <% roottypes = Roottype.all %>
        <% roottypes.each do |roottype| %>
            <div class="col_1">
              <ul class="bord">
                <b>
                  <li><%= link_to roottype.title, roottype_path(roottype.id) %></li>
                </b>
                <% parts = roottype.parts %>
                <% parts.each do |part| %>
                    <% counter = 0 %>
                    <% part.types.each do |type| %>
                        <% counter += type.items.where("public = ?", true).count %>
                    <% end %>

                    <% if logged_in? == false %>
                        <% if counter > 0 %>
                            <li><%= link_to part.title, part_path(part.id) %></li>
                        <% end %>
                    <% else %>
                        <li><%= link_to part.title, part_path(part.id) %></li>
                    <% end %>

                <% end %>
              </ul>
            </div>
        <% end %>
      </div>
    </li>
    <li><%= link_to 'КОНТАКТЫ', contacts_path %></li>
    <li><%= link_to 'О КОМПАНИИ', abouts_path %></li>
    <li><%= link_to 'НОВОСТИ', tidings_path %></li>
    <li><%= link_to 'СТАТЬИ', actions_path %></li>
  </ul>
</nav>
