<nav class="navbar navbar-default ">
  <ul class="nav navbar-nav top-menu">
    <li><%= link_to 'ГЛАВНАЯ', root_path %></li>
    <li><%= link_to 'КАТАЛОГ &nbsp;<i class="fa fa-angle-down"></i>'.html_safe, parts_path, :class => "drop" %>
      <div class="dropdown_2columns dropdown">
        <div class="col_1">
          <ul class="bord">
            <% @kombikorm = Part.where(section: "Комбикормовое оборудование") %>
            <li><%= link_to @kombikorm.first.section, kombikorm_path %></li>
            <% @kombikorm.each do |part| %>
                <li><%= link_to part.title, part_path(part.id) %></li>
            <% end %>
          </ul>
        </div>
        <div class="col_1">
          <ul>
            <% @pellet = Part.where(section: "Пеллетное оборудование") %>
            <li><%= link_to @pellet.first.section, pellet_path %></li>
            <% @pellet.each do |part| %>
                <li><%= link_to part.title, part_path(part.id) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </li>
    <li><%= link_to 'НОВОСТИ', tidings_path %></li>
    <li><%= link_to 'АКЦИИ', actions_path %></li>
    <li><%= link_to 'О КОМПАНИИ', abouts_path %></li>
    <li><%= link_to 'КОНТАКТЫ', contacts_path %></li>
  </ul>
</nav>
