<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "KraudApp" %></title>
  <%= csrf_meta_tags %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
  <![endif]-->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag "application", :media => "all" %>

  <!-- For third-generation iPad with high-resolution Retina display: -->
  <!-- Size should be 144 x 144 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

  <!-- For iPhone with high-resolution Retina display: -->
  <!-- Size should be 114 x 114 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

  <!-- For first- and second-generation iPad: -->
  <!-- Size should be 72 x 72 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <!-- Size should be 57 x 57 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

  <!-- For all other devices -->
  <!-- Size should be 32 x 32 pixels -->
  <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

  <%= javascript_include_tag "application" %>
</head>
<body>
<div class="container navbar-default content">
  <hr>
  <header>
    <div class="row">
      <div class="col-lg-3">
        <h1>LOGO</h1>

        <p>комбикормовое оборудование <br>
          пеллетное оборудование</p>
      </div>
      <div class="col-lg-5">
        <h2>производитель и поставщик</h2>

        <p>соверменного и высококачественного оборудования для сельского хозяйства</p>
      </div>
      <div class="col-lg-4">
        <h2></h2>

        <p>С 8:00 до 17:00 мо МCК (Сейчас работаем)</p>
        <i class="fa fa-phone fa-2x fa-fw tooltips"> <span>Нажмите, чтобы заказать обратный звонок</span></i> <span class="phone">+7 831 412-99-90</span>


      </div>
    </div>
  </header>
  <!-- /header -->

  <nav class="navbar navbar-default ">
    <ul class="nav navbar-nav top-menu">
      <li><a href="#">ГЛАВНАЯ</a></li>
      <li><a href="#">КАТАЛОГ</a></li>
      <li><a href="#">НОВОСТИ</a></li>
      <li class="active"><a href="#">АКЦИИ</a></li>
      <li><a href="#">О КОМПАНИИ</a></li>
      <li><a href="#">КОНТАКТЫ</a></li>
    </ul>
  </nav>
  <!-- /menu -->
  <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Library</a></li>
  </ol>
  <!-- /bread -->
  <%= bootstrap_flash %>
  <%= yield %>

</div>
<!-- /container -->

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 random-text"><p> Качественно новый стандарт</p></div>
      <div class="col-lg-7 bottom-menu">
        <a href="#">Главная</a> |
        <a href="#">Каталог</a> |
        <a href="#">Новости</a> |
        <a href="#">Акции</a> |
        <a href="#">О камании</a> |
        <a href="#">Контакты</a>
      </div>
    </div>
      <div class="row">
        <div class="col-lg-1 col-md-offset-4">
          <i class=" fa fa-home fa-4x"></i>
        </div>
        <div class="col-md-3">
          603105, Россия, Нижний Новгород
          ул. Агрономическая, 125а
          тел. +7 831 412-99-90
        </div>
        <div class="col-lg-2 col-md-offset-2"><h1>LOGO</h1></div>
      </div>
    </div>
  </div>
  <div class="copyright">C 2014 Крауд. Все права защищены</div>
</footer>

</body>
</html>
